In [1]:
import pandas as pd
import numpy as np

## Telephone Directory of total Employees in Company.

In [2]:
telephone_directory= pd.read_csv("Telephone_Directory_of_Total_Employees_in_company.csv")
telephone_directory  #csv file of total employees

         Name  Employee_Number  Landline_number  Mobile_number
0   Francoise            37405          5678934      982770703
1      Kendra            91537          2321816      766068678
2     Lourdes            19284          3476934      256641207
3      Hannah            79718          8054558      299508799
4         Tom            27984          2330769      480216943
5     Queenie            17383          5626064      741869316
6         Hui            83537          9406023      529085785
7      Josefa            16453          8802998      357448273
8         Lea            71975          2975486      788755885
9       Paola            80939          1757163      219111595
10  Hortencia            97415          7412557      867908340
11     Leanna            63299          8192783      454412464
12     Danilo            96621          1207875      950066126
13       Huey            17591          5650812      814847764
14   Apolonia            78048          2535700      865214837
15    Chandra            64435          6412951      885597293
16     Crissy            70454          2410056      918930911
17     Gianna            59152          5667705      753762972
18   Valentin            85717          4853435      877779025
19      Ilona            31971          6580848      165305072
20    Willard            90929          4088017      236166904
21     Lauryn            25271          1344927      554410864
22    Laurena            11112          5731876      143738349
23      Elise            20414          7102127      463216194
24     Corrie            95547          1191694      868047287
25  Kimberely            45206          7988635      989202524
26       Tish            10101          6797237      136623014
27     Hollis            44585          3944379      362171613
28     Andree            80491          6811391      248418286
29       Lyla            96617          8416423      154344442

### m=97 2 bytes (length of hashtable = 00-99 )

In [3]:
hashtable = [[0,0,0,0] for i in range(100)]

### Hashing_function calculates the hash key of employee number

In [4]:
def hashing_func(key):
  location = key%97
  return location

## insert(hashtable,np.array[employee numbers]) 
#### you can pass list of many/one employee numbers.

In [5]:
def insert(hashtable,s):
    key = s %97
    print("Hashed keys: ",key)    ## print hashing key of all Employee numbers
    i = 0
    
    while i < len(key):
        h=telephone_directory[telephone_directory.Employee_Number==s[i]]
        if hashtable[key[i]][1]==s[i]:
            print("Employee number already exists") #if same employee number passed in function.
            i=i+1
        elif hashtable[key[i]][0]==0:
             hashtable[key[i]][0]=h.iloc[0,0]
             hashtable[key[i]][1]=s[i]
             hashtable[key[i]][2]=h.iloc[0,2]
             hashtable[key[i]][3]=h.iloc[0,3]
             i = i+1
        else:
             j=1
             q=1
             while q<97:
                 keys=(key[i]+j)%97
                 if hashtable[keys][0]==0:
                     hashtable[keys][0]=h.iloc[0,0]
                     hashtable[keys][1]=s[i]
                     hashtable[keys][2]=h.iloc[0,2]
                     hashtable[keys][3]=h.iloc[0,3]
                     i = i+1
                     break
                 else:
                    j=(q+1)**2
                    q=q+1
                

l = list(telephone_directory['Employee_Number'][0:25])  # l is a list of employee numbers
print("Employee number:",l)           # print all Employee numbers passed by user as input 
s=np.array(l)                         #s is an array of employee numbers
insert(hashtable,s)                   
insert(hashtable,np.array([45206,10101,44585,80491,96617]))
hashtable2 = pd.DataFrame(hashtable,columns=['Name','Employee_Number','Landline_number','Mobile_Number'])
hashtable2

Employee number: [37405, 91537, 19284, 79718, 27984, 17383, 83537, 16453, 71975, 80939, 97415, 63299, 96621, 17591, 78048, 64435, 70454, 59152, 85717, 31971, 90929, 25271, 11112, 20414, 95547]
Hashed keys:  [60 66 78 81 48 20 20 60  1 41 27 55  9 34 60 27 32 79 66 58 40 51 54 44
  2]
Hashed keys:  [ 4 13 62 78  5]

         Name  Employee_Number  Landline_number  Mobile_Number
0           0                0                0              0
1         Lea            71975          2975486      788755885
2      Corrie            95547          1191694      868047287
3           0                0                0              0
4   Kimberely            45206          7988635      989202524
5        Lyla            96617          8416423      154344442
6           0                0                0              0
7           0                0                0              0
8           0                0                0              0
9      Danilo            96621          1207875      950066126
10          0                0                0              0
11          0                0                0              0
12          0                0                0              0
13       Tish            10101          6797237      136623014
14          0                0                0              0
15          0                0                0              0
16          0                0                0              0
17          0                0                0              0
18          0                0                0              0
19          0                0                0              0
20    Queenie            17383          5626064      741869316
21        Hui            83537          9406023      529085785
22          0                0                0              0
23          0                0                0              0
24          0                0                0              0
25          0                0                0              0
26          0                0                0              0
27  Hortencia            97415          7412557      867908340
28    Chandra            64435          6412951      885597293
29          0                0                0              0
..        ...              ...              ...            ...
70          0                0                0              0
71          0                0                0              0
72          0                0                0              0
73          0                0                0              0
74          0                0                0              0
75          0                0                0              0
76          0                0                0              0
77          0                0                0              0
78    Lourdes            19284          3476934      256641207
79     Gianna            59152          5667705      753762972
80          0                0                0              0
81     Hannah            79718          8054558      299508799
82     Andree            80491          6811391      248418286
83          0                0                0              0
84          0                0                0              0
85          0                0                0              0
86          0                0                0              0
87          0                0                0              0
88          0                0                0              0
89          0                0                0              0
90          0                0                0              0
91          0                0                0              0
92          0                0                0              0
93          0                0                0              0
94          0                0                0              0
95          0                0                0              0
96          0                0                0              0
97          0                0                0              0
98          0                0                0              0
99          0                0                0              0

[100 rows x 4 columns]

### search(hashtable,Employee_number)
#### returns all information of Employee from hashtable as well as on which index it is inserted in hashtable.

In [6]:
def search(hashtable,key):
    loc = hashing_func(key)
    if key == hashtable2.iloc[loc][1]:
        print(hashtable2.iloc[loc])
    else:
        i=1
        q = 1
        while q<97:
             locs=(loc+i)%97
             if key==hashtable2.iloc[locs][1]:
                 print(hashtable2.iloc[locs])
                 break
             else:
                i=(q+1)**2
                q = q+1
        
       
search(hashtable,45206)
search(hashtable,10101)
search(hashtable,83537)
search(hashtable,59152)
search(hashtable,80491)

Name               Kimberely
Employee_Number        45206
Landline_number      7988635
Mobile_Number      989202524
Name: 4, dtype: object
Name                    Tish
Employee_Number        10101
Landline_number      6797237
Mobile_Number      136623014
Name: 13, dtype: object
Name                     Hui
Employee_Number        83537
Landline_number      9406023
Mobile_Number      529085785
Name: 21, dtype: object
Name                  Gianna
Employee_Number        59152
Landline_number      5667705
Mobile_Number      753762972
Name: 79, dtype: object
Name                  Andree
Employee_Number        80491
Landline_number      6811391
Mobile_Number      248418286
Name: 82, dtype: object

### Probes(Employee number in list format)
#### Probes function can calculate successful probes and unsuccessful probes. Employee number in list should be 1 at a time.

In [28]:
def Probes(l):
     i = 0
     j = 0
     while j<len(l):
        
        if l[0] == hashtable2.iloc[hashing_func(l[j])][1]:
            i = i+1
            j = j+1
    
            print("successful Probes: ",i)
            break
        else:
            m = 0
            q = 0
            while l[j] !=hashtable2.iloc[hashing_func(l[j])][1]:
                k = (hashing_func(l[j])+m)%97
                
                if l[j] == hashtable2.iloc[k][1]:
                    i = i+1
                    j = j+1
                    print("Successful Probes: ",i)
                    break
                elif hashtable2.iloc[k][1]==0:
                    i = i+1
                    print("Unsuccesful Probes: ",i)
                    break
                else:
                    
                    m = (q+1)**2
                    q = q+1 
                    i=i+1
                
        break 
    
    
                
                     
Probes([37405])
Probes([16453])
Probes([78048])
Probes([83537])
Probes([45206])
Probes([37406])
Probes([12360])
Probes([56320])
Probes([56326])
Probes([10034])

successful Probes:  1
Successful Probes:  2
Successful Probes:  3
Successful Probes:  2
successful Probes:  1
Unsuccesful Probes:  3
Unsuccesful Probes:  2
Unsuccesful Probes:  4
Unsuccesful Probes:  3
Unsuccesful Probes:  1